# macOS system files
.DS_Store

# Python cache
myutils/__pycache__/*.pyc

# Ignore the results folder
results/

# Ignore the results.zip file
results.zip

# Ignore the Jupyter Notebook for scratch
scratch.ipynb 
